/* Masonry 그리드 컨테이너 */
.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* 컬럼 사이 간격 보정 */
  width: auto;
}

/* 각 컬럼 */
.my-masonry-grid_column {
  padding-left: 16px; /* 컬럼 사이 간격 */
  background-clip: padding-box;
}

/* 개별 카드 아이템 */
.my-masonry-grid_column > div { 
  margin-bottom: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
html, body {
    width: 100%;
    min-height: 100%;
}
body{
    overflow-x: hidden;
    font-size: 1.6rem;
}
#root {
    width: 100%;
    min-height: 100%;
}
.container {
    padding: 4vw;
}
.pin-card {
    border-radius: 1.6rem;
    overflow: hidden;
    position: relative;

    .img-wrapper {        
        img {
            height: 100%;
            vertical-align: top;
        }
    }
    
    .description{
        position: absolute;
        left: 0;
        bottom: 2rem;
        display: none;
    }
    .overlay {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

.img-container {
  width: 100%;
  aspect-ratio: 2 / 3; 
  background-color: #f0f0f0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999
}
.modal-content {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}
.modal-info {    
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.5);
    padding: 2rem;
}
.modal-close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.overlay {
    opacity: 0;
    &:hover {
        opacity: 1;;
    }
}

.btn-fav {
    position: absolute;
    left: 2rem;
    top: 2rem;
    margin:0;
    padding:0;
    background: transparent;
    width: 2.4rem;
    height: 2.4rem;
    background: url(./assets/like-button.svg) no-repeat 50% 50%;
    font-size:0;
    &.active {
        background: url(./assets/like-button-on.svg) no-repeat 50% 50%;    
    }
}
button:hover,
button:focus{
    border :0;
    outline: none;
}